.prewiew-block {
	height: 650px;
	width: 100%;
	background-image: url(../../../images/dist/preview.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	header {
		padding-top: 20px;
		nav {
			display: flex;
			justify-content: space-between;
			width: 90%;
			align-items: center;
			margin: 0 auto;
			a {
				transition: 0.3s;
				&:hover {
					color: rgb(189, 189, 189);
					transition: 0.3s;
				}
			}
			.header-number {
				display: flex;
				width: 400px;
				justify-content: space-between;
			}
		}
	}
	.preview-info {
		padding-top: 129px;
		.container {
			display: flex;
			justify-content: space-between;
		}
		.preview-info__text {
			h1 {
				color: #fff;
				text-transform: uppercase;
				font-size: 52px;
				text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.25);
				margin-bottom: 65px;
			}
			h2 {
				width: 600px;
				color: #fff;
				size: 52px;
				text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.25);
				margin-bottom: 50px;
			}
			button {
				font-weight: 600;
				font-size: 17px;
			}
		}
	}
}
