.proccess-building {
	height: 800px;
	background-image: url(../../../images/dist/proccessBuild.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: right;
	.proccess-content {
		position: absolute;
		bottom: 100px;
		left: 10%;
		display: flex;
		.proccess-content-el {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				height: 50px;
				width: 2px;
				background-color: #ffca65;
				left: -25px;
				bottom: 5px;
			}
			&::before {
				content: '';
				position: absolute;
				left: -25px;
				height: 2px;
				width: 50px;
				bottom: 5px;
				background-color: #ffca65;
			}
			margin-right: 115px;
			div {
				width: 50px;
				height: 50px;
				font-size: 28px;
				font-weight: 800;
				color: #000;
				border-radius: 50%;
				text-align: center;
				background-color: #ffca65;
				margin-bottom: 33px;
			}
			p {
				text-align: left;
				max-width: 280px;
				color: #fff;
				font-size: 20px;
				font-weight: 500;
			}
			svg {
				position: absolute;
				left: -100px;
				top: 10px;
			}
		}
	}
}
